.headerContainer {
  display: flex;
  justify-content: center;

  padding: 0px 30px;
  width: 100%;
  height: var(--header-height);

  background: var(--gray-680);

  transition: all 0.5s ease-in-out 0s;
  box-shadow: rgb(18 18 20) 0px 1rem 1.25rem;

  > nav {
    display: flex;

    ul {
      display: flex;

      li {
        display: flex;
      }
    }

    .navigable {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 105px;

      font: normal 500 1.2rem "Roboto", sans-serif;
      transition: all 0.5s ease-in-out 0s;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom-color: var(--express-hover);
        text-decoration: none;
      }
      &.active {
        border-bottom-color: var(--express);
      }
    }
  }
}
