#authContainerPage {
  height: 100vh;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gray-700);

  > main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: 460px;
    width: 100%;

    > div > h1 {
      font: bold 500 3rem "Inter", sans-serif;
      line-height: 64px;
      max-width: 300px;
    }

    > footer {
      p {
        font: 400 14px "Inter", sans-serif;
        line-height: 22px;
        font-style: normal;

        a {
          color: var(--blue-500);
        }
      }
    }
  }
}
