.mePage {
  display: flex;
  flex-direction: column;

  > div {
    width: 100%;

    > main {
      max-width: 670px;
      margin: 50px 70px;

      header {
        > div {
          margin-bottom: 1rem;

          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: contain;
          }
        }

        article {
          margin-left: 0.5rem;
          h2 {
            font: normal bold 3rem "Roboto", sans-serif;
          }
          strong {
            margin-left: 0.3rem;
          }
        }
      }

      section {
        margin-top: 4rem;

        p {
          span {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
